@{
    ViewData["Title"] = "Customers";
}

<div class="row">
    <h3><u>Add a New Customer</u></h3>
</div>
<div class="row">
    <form action ="addCustomer" method="POST">
    <div class="col-md-2 text-right">
        <h5>Customer Name: </h5>
    </div>
    <div class="col-md-3">
        <input type="text" name="InputName" class="form-control">
    </div>
    <div class="col-md-2">
        <input type="submit" value="Add" class="btn btn-primary btn-block">
    </div>
    </form>
</div>
<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
        <form action="/search">
            <input type="text" id="search" placeholder="search name..." class="form-control">
        </form>
    </div>
</div>
<div id="tablerow">
    
<table class="table table-striped text-center" id="customerT">
    <thead>
        <tr>
            <th class="text-center">Customer Name</th>
            <th class="text-center">Created Date</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var item in @ViewBag.Customers){
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Created_at.ToString("MMMM dd, yyyy")</td>
                    <td><a href="remove/@item.CustomerID" class="btn btn-danger">Remove</a></td>
                </tr>
            }
        }
    </tbody>
</table>
</div>